@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body { 
  background: #091921;
  font-family: Roboto;
}
.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153,153,153,.2);
}
#display {
  text-align: right;
  height: auto;
  min-height: 70px;
  line-height: 40px;
  padding: 16px 8px;
  font-size: 25px;
  background: #fff;
  word-wrap: break-word;
  word-break: break-all;
}
#clear {
  background: #e60000;
 
}
#del {
  background: #e6c300;
}
.buttons {
  display: grid; 
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  grid-template-columns: repeat(4, 100px);
}
.buttons .span-two{
  grid-column: span 2;
}
.buttons .span-del{
  grid-column: span 2;
}
.buttons > div{
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}
.button {
  border: 0.5px solid #999;
  line-height: 100px; 
  text-align: center; 
  font-size: 25px;
  cursor: pointer;
  color: #fff;
  user-select: none;
}
#equal {
  background-color: #008000;
}
.button:hover{
  background-color:#555;
  color: #fff; 
  transition: 0.2s ease-in-out;
}